/* Utility Classes */

/* Centralizers */
.text-center {
    text-align: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-col-center-start {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

/* Margins */

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.my-4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mx-2 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.mx-4 {
    margin-left: 4rem;
    margin-right: 4rem;
}

/* Paddings */

.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.px-4 {
    padding-left: 4rem;
    padding-right: 4rem;
}

/* Border Radius */

.rounded {
    border-radius: 25px;
}

/* text & fonts */

.text-black {
    text-decoration: none;
    color: black;
}

.text-white {
    text-decoration: none;
    color: white;
}

.font-medium {
    font-size: 21px;
}

.font-large {
    font-size: 28px;
    font-weight: bolder;
}

/* Gap */

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

/* Buttons */

.simple-button {
    text-decoration: none;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.95);
    border-radius: 20px;

    transition: transform 500ms ease,
        background 500ms ease;
}

.simple-button:hover {
    transform: scale(1.1);
    background: rgba(0, 0, 0, 0.85);
    cursor: pointer;
}

/* Spaces */

.spacer {
    border-right: 1px solid whitesmoke;
    border-radius: 15px;
}